a, a:link, a:visited {
  color: #e27faf !important;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active { color: #c56e98 !important; }

button {
  display: inline-block;
  background-color: #e27faf;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0.25em 1em;
  border: none;
  border-radius: 999em;
  cursor: pointer;
}
button:hover { background-color: #c56e98; }

.fullNav {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  * {
    margin: 0;
    pointer-events: initial;
  }
  .navBtn {
    position: absolute;
    width: 1.5em;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #e27faf;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0.75em;
    left: 0.75em;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 2px 8px black);
    filter: drop-shadow(1px 2px 8px black);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    * {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  }
  .navBtn:hover {
    -webkit-filter: drop-shadow(1px 2px 8px #e27faf);
    filter: drop-shadow(1px 2px 8px #e27faf);
  }
}

.sumiyoiIntro {
  width: 100%;
  background-color: #e27faf;
  background-image: url("/sakurasumiyoi/assets/images/background/mahoroba_dark.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 5fr);
  direction: rtl;
  * {
    margin: 0;
    direction: ltr;
  }
  div { background-color: #000000a0; }
  .sumiyoiVroid {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 11;
    background-image: url("/sakurasumiyoi/assets/images/20260525_1.png");
    background-size: 150%;
    background-position: 32.5% 25%;
    background-repeat: no-repeat;
  }
  .sumiyoiTitle {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    div {
      width: 20em;
      max-width: 100%;
      background: none;
      text-align: center;
      margin: 0 10em 0 0;
      img {
        -webkit-filter: drop-shadow(1px 2px 8px black);
        filter: drop-shadow(1px 2px 8px black);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sumiyoiIntro {
    grid-template-columns: 100%;
    .sumiyoiVroid {
      aspect-ratio: 4 / 3;
      background-position: center top;
    }
    .sumiyoiTitle {
      div {
        width: 15rem;
        margin: 5em 0 0 0;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 1.5em 1em;
  background-color: white;
  color: black;
  text-align: right;
  font-size: 0.625em;
  * { margin: 0; }
}

.underConstruction {
  width: 100%;
  padding: 15em 1em;
  background-color: black;
  color: white;
  text-align: center;
}